<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header.ejs')%>
    <title>Home | Blogify</title>
  </head>
  <body>
    <h1 class="text-3xl font-bold underline">Hello world!</h1>
  </body>
</html>
